Source: hdbpp-cm
Priority: optional
Maintainer: Stuart James <stuart.james@esrf.fr>
Build-Depends: libhdb++-dev,
               libtango-dev (=9.2.5a+dfsg1-2),  
               libomnithread3-dev, 
               libomniorb4-dev,
               debhelper (>= 9.0.0), 
               make
Standards-Version: 3.9.3
Section: misc
Homepage: https://github.com/tango-controls/hdbpp-cm

Package: hdbpp-cm
Priority: optional
Section: misc
Architecture: any
Depends: libhdb++6,
         libtango9 (=9.2.5a+dfsg1-2), 
         libomniorb4-1, 
         libomnithread3c2,
         ${shlibs:Depends},
         ${misc:Depends}
Description: Configuration manger device server for Tango Controls archive system.
 Part of the Tango Controls database archive system. This device server allows 
 the configuration of event subscriber device server attributes (see package 
 hdbpp-es).
